<% layout("./layouts/forgotPWLayout.html") %>

<div class="wrapper">
  <form method="POST" action="/forgot-password">
    <h1>Forgot password</h1>

    <% if (it.info) { %>
      <ul class="info">
        <% it.info.forEach((info) => { %>
          <li><%= info %></li>
        <% }); %>
      </ul>
    <% } %>

    <% if (it.errors) { %>
      <ul class="errors">
        <% it.errors.forEach((error) => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    <% } %>

    <div class="input-box">
      <input type="email" name="email" value="<%= it.email ? it.email : "" %>"
      placeholder="Email" required>
      <i class='bx bx-envelope'></i>
    </div>

    <input type="submit" value="Submit" class="btn">

    <div class="register-link">
      <p>
        <a href="/auth/login"> &larr; Go back</a>
      </p>
    </div>
  </form>
</div>
