<% layout("./layouts/registerLayout.eta.html") %>

<div class="wrapper">
  <form method="POST" action="/auth/register">
    <h1>Register</h1>

    <% if (it.errors) { %>
      <ul class="errors">
        <% it.errors.forEach((error) => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    <% } %>

    <div class="input-box">
      <input type="email" name="email" placeholder="Email" value="<%= it.email ? it.email : "" %>"
        required>
      <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
      <input type="password" name="password" value="<%= it.password ? it.password : "" %>"
      placeholder="Password" minlength="10" required>
      <i class='bx bxs-lock-alt'></i>
    </div>
    <div class="input-box">
      <input type="password" name="verification" value="<%= it.verification ? it.verification : "" %>" 
      placeholder="Password verification" minlength="10" required>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <input type="submit" value="Register" class="btn">

    <div class="register-link">
      <p>
        Already have an account? <a href="/auth/login">Login</a>
      </p>
    </div>
    <div class="register-link">
      <p>
        <a href="/"> &larr; Go back</a>
      </p>
    </div>
  </form>
</div>
