<% layout("./layouts/resetPWLayout.html") %>

<div class="wrapper">
  <form method="POST">

    <% if (it.errors) { %>
      <ul class="errors">
        <% it.errors.forEach((error) => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    <% } else { %>
    <h1>Reset password</h1>

    <% if (it.PWerrors) { %>
      <ul class="PWerrors">
        <% it.PWerrors.forEach((error) => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    <% } %>

    <div class="input-box">
      <input type="email" name="email" value="<%= it.email %>" readonly>
      <i class='bx bx-envelope'></i>
    </div>
    <div style="display:none;">
      <input type="password" name="fakepasswordremembered" autocomplete="off">
    </div>
    <div class="input-box">
      <input type="password" name="newPassword"
      placeholder="New password" minlength="10" required>
      <i class='bx bxs-lock-alt'></i>
    </div>
    <div class="input-box">
      <input type="password" name="confirmPassword"
      placeholder="Confirm password" minlength="10" required>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <input type="submit" value="Reset password" class="btn">

    <% } %>

    <div class="register-link">
      <p>
        <a href="/auth/login"> &larr; Go back</a>
      </p>
    </div>
  </form>
</div>
