<% layout("./layouts/rulesLayout.eta.html") %>

<!--
<h1><strong><u>Pesutupa</u></strong></h1>
<p>
  Pesutupaan on mahdollisuus lunastaa isännöitsijältä avain. Avaimesta tulee maksaa pantti 50, -euroa taloyhtiön tilille:
  <br></br>
  <strong>FI09 2058 1800 0626 43</strong>
  <br></br>
  Maksun viestiksi tulee kirjoittaa:
  <strong>PESUTUPA, ASUKKAAN NIMI, ASUINHUONEISTO</strong>
  <br></br>
  Maksukuittia vastaan isännöitsijätoimistosta voi noutaa avaimen.
  Pantti maksetaan takaisin asukkaalle kun avain palautetaan.
  <br></br>
  Pesutuvan käytöstä ei peritä erillistä maksua.
  <br></br>
  Pesutupaa ja sen laitteita saa käyttää kello 8-21 välisenä aikana.
  <br></br>
  Pesutupa on tarkoitettu kaikille asukkaille, joten se tulee jättää käytön jälkeen siistiin kuntoon.
  <br></br>
  Lisätietoja voi kysyä isännöitsijätoimistosta.
</p>

<br></br>

<h2><strong><u>PESUTUVAN KÄYTTÖOHJE</u></strong></h2>
<p>
  Tee <a href="/laundry">pesutuvan varauskalenteriin</a> varaus valitsemalla päivä, ja merkitsemällä oma huoneistonumero sekä aloitus- ja lopetusaika.
  <br></br>
  Muista tehdä erillinen varaus kuivaushuoneelle <a href="/drying">kuivaushuoneen varauskalenteriin</a>
  <br></br>
  Kuivausrumpu on tarkoitettu ensisijaisesti pesukoneen käyttäjälle.
  <br></br>
  Putsaa aina kuivausrumpu ja kuivauskoneen nukkasuodattimet käytön jälkeen.
  <br></br>
  Putsaa aina pesukoneitten pesuainelokerot mikäli ne jäävät sotkuiseksi
  <br></br>
  Jätä pesutupa käyttösi jälkeen siistiksi.
  <br></br>
  Mikäli huomaat pesutuvassa epäkohtia tai havaitset jonkin koneen olevan epäkunnossa, ilmoitathan siitä isännöitsijälle tai huoltoyhtiölle.
</p>

<br></br>

<h2><strong><u>KUIVAUSHUONEEN KÄYTTÖOHJE</u></strong></h2>
<p>
  Huomio, että pesutuvalle on erillinen varauskalenteri.
  Tee <a href="/drying">kuivaushuoneen varauskalenteriin</a> varaus valitsemalla päivä, ja merkitsemällä oma huoneistonumero sekä aloitus- ja lopetusaika.
  <br></br>
  Kuivauksenhuoneen käyntiaika valitaan munakellolla kuivauskoneen yläpuolella.
  <br></br>
  Kuivuksen aikana kuivaushuoneen ovet on pidettävä kiinni.
  <br></br>
  Kuivauskonetta voi käyttää vain kello 8.00-22.00 välisenä aikana
  <br></br>
  Putsaa aina kuivauskoneen nukkasuodattimet käytön jälkeen.
  <br></br>
  kuivauskoneen nukkasuodattimet käytön jälkeen.
  <br></br>
  Pesutuvan kuivausrumpu on tarkoitettu ensisijaisesti pesukoneen käyttäjälle (<a href="laundry">tarkista pesutuvan varauskirja</a>)
  <br></br>
  Jätä kuivaushuone käytön jälkeen siistiksi.
  <br></br>
  Roskakori sijaitsee pesutuvan puolella.
  <br></br>
  Mikäli huomaat pesutuvassa epäkohtia tai havaitset jonkin koneen olevan epäkunnossa, ilmoitathan siitä isännöitsijälle tai huoltoyhtiölle.
</p>
-->
<!--English-->
<h1><strong><u>LAUNDRY ROOM</u></strong></h1>
<p>
  The laundry room has the option of redeeming a key from the manager. A pledge of 50 euros must be paid for the key to the housing company's account:
  <br></br>
  <strong>FI09 2058 1800 0626 43</strong>
  <br></br>
  The message of the payment should be:
  <strong>PESUTUPA, RESIDENT NAME, RESIDENCE</strong>
  <br></br>
  In exchange for a payment receipt, a key can be retrieved from the property manager's office.
  The deposit is paid back to the resident when the key is returned.
  <br></br>
  There is no separate charge for the use of the laundry room.
  <br></br>
  The Laundry room and its equipment may be used between 8.00 and 21.00.
  <br></br>
  The laundry room is intended for all residents, so it should be left in a neat condition after use.
  <br></br>
  For more information, contact the property manager's office.
</p>

<br></br>

<h2><strong><u>LAUNDRY ROOM INSTRUCTIONS</u></strong></h2>
<p>
  Make a reservation in the <a href="/laundry">laundry room booking calendar</a> by selecting a date, and entering your own apartment number and start and end time.
  <br></br>
  Be sure to make a separate reservation for the drying room in the <a href="/drying">drying room booking calendar</a>.
  <br></br>
  The dryer is primarily intended for the washing machine operator.
  <br></br>
  Always clean the dryer and dryer lint filters after use.
  <br></br>
  Always clean the detergent compartments of the washing machines if they remain messy.
  <br></br>
  Leave the laundry room clean after use.
  <br></br>
  If you notice any defects in the laundry room or notice that a machine is out of order, please inform the property manager or maintenance company.
</p>

<br></br>

<h2><strong><u>DRYING ROOM INSTRUCTIONS</u></strong></h2>
<p>
  Please note that there is a separate booking calendar for the laundry room.
  make a reservation in the <a href="/drying">drying room booking calendar</a> by selecting a date, and entering your own apartment number and start and end time.
  <br></br>
  The running time of the drying room is selected by a timer above the drying machine.
  <br></br>
  During drying, the drying room doors must be closed.
  <br></br>
  The drying machine can only be used between 8.00 and 22.00
  <br></br>
  Always clean the fluff filters on the dryer after use.
  <br></br>
  The dryer in the laundry room is primarily intended for the user of the washing machine (Check the <a href="laundry">laundry room booking calendar</a>)
  <br></br>
  Leave the drying room clean after use.
  <br></br>
  The trash can is located on the side of the laundry room.
  <br></br>
  If you notice any defects in the laundry room or notice that a machine is out of order, please inform the property manager or maintenance company.
</p>
<br></br>
