.resInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 30vw;
}

.resList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.AllResContainer {
	display: flex;
	flex-direction: column;
}

.laundryWrapper, .dryingWrapper {
	margin: 0rem 0rem 2.5rem 0rem;
}

.laundryWrapper i, .dryingWrapper i{
	font-size: 1.3rem;
	cursor: pointer;
}

@media screen and (max-width: 950px) {
  .resInfo {
		max-width: 100vw;
	}

	.AllResContainer {
		display: flex;
		flex-direction: column;
	}
}